header{
    background: url("../img/xd.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.bg-nav-rumbo{
    background: transparent !important;
}

.bg-nav-rumbo ul li a.nav-link{
    color: #fffefe;
    font-size: 24px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.bg-nav-rumbo ul li a.nav-link:hover{
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}
#hero{
    text-align: center;
    margin-top: 90px;

}

#hero h2{
    font-size: 60px;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}

#hero h1{
    color: #fff;
    margin-bottom: 100px;
}

#hero button{
    background-color: yellow;
    color: grey;
    padding: 10px 20px;
    font-size: 26px;
    border-radius: 10px;
    font-weight: 700;
}
/* Estilos de la seccion planes */
#planes {
    padding: 120px 0;
    text-align: center;

}

#planes h2 {
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 40px;
}

#planes p {
    font-size: 22px;
}
#planes .plan {
    margin-top: 80px;
    position: relative;

}

#planes .plan h3 {
    color: yellow;
    position: absolute;
    z-index: 99;
    top: 120px;
    left: 0px;
    right: 0px;
    text-align: center;
}

/* estilos de la seccion destinos */

#destinos{
    width: 100%;
    background: url("../img/mmmmm.jpg");
    background-size: cover;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 50px;

}

#destinos h2{
    color: #e8f00c;
    font-size: 40px;
    margin-bottom: 100px;
    font-weight: 700;
}

#destinos h3{
    color: #fff;
    font-size: 28px;
    margin: 20px 0 50px;
}
/* estilos seccion contacto */

#contacto{
    width: 100%;
    background: #e8f00c;
    text-align: center;
    padding: 150px 0;
}

#contacto h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;

}

#contacto p{
    font-size: 22px;
    margin-bottom: 40px;
}
#contacto form{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

}

#contacto form input,
#contacto form select{
    width: 100%;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 4px;
    border: 1px solid #999;
}

#contacto form button{
    padding: 12px 60px;
    background: #272721;
    color: #fff;
    font-size: 18px;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid #b3b81f;
}

footer{
    background: #000;
    color: #fff;
    padding: 30px;
    text-align: center;
}
/* efectos hover */
#hero img,
nav img,
#hero button,
#planes img,
#destinos img{
    transition: .5s;
}

#hero img:hover{
    transform: rotate(-360deg);
}

nav img:hover{
    transform: scale(1.1);
}

#hero button:hover{
    box-shadow: 4px 4px 0px 15px #fff ;
}
#planes img:hover{
border-radius: 0%;
transform: rotate(360deg);
}
#destinos img:hover{
    transform: scale(0.8);
}